---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3>Teaching Philosophy</h3>
<p>I believe the key to teaching lies in <strong>engaging</strong> students, guiding their deep-thinking process, and developing their ability to transfer knowledge in broader application areas. Computer systems and security span many details on various aspects of a computer system, which are usually beyond the coverage of textbooks. Without a strong motivation to “look under the hood,” topics in computer system security can feel too abstract. Engaging students and letting them to connect the knowledge in with other types of knowledges, such as real-world scenarios, offers a path for students to reach a deep level of understanding. </p>

<p>Aiming to embedding generalized understanding of knowledge, my methodology of teaching system security is to generalize the same concept in different systems and different domains. Practice plays a crucial role in helping students to connect knowledge to real-world problems. Using practical skills, students can open the hood of computer systems and witness the security knowledge in action. When they practice the same concept under different systems, they will learn to pay less attention to system-specific detail and thus focus on the generalized concept. </p>

<p>The result I aim for is not just competence with existing knowledge and tools, but transferable learning mindset: students who recognize familiar structures in new scenarios and reason confidently in open-ended problems.  </p>

<h3>Courses</h3>
<ul>
  <li>
    CS3235: Computer Security.
  </li>
  <li>
    CS5231: Systems Security.
  </li>
  <li>
    CS5321: Network Security.
  </li>
  <li>
    CS5331: Web Security. 
  </li>
</ul>

<h3>Awards</h3>
<ul>
  <li>
    Faculty Teaching Excellence Award, NUS School of Computing, Academic Year 2024/2025.
  </li>
  <li>
    Faculty Teaching Excellence Award, NUS School of Computing, Academic Year 2021/2022.
  </li>
  <li>
    Faculty Teaching Excellence Honour Roll, NUS School of Computing, Academic Year 2014/2015.
  </li>
  <li>
    Annual Teaching Excellence Award, National University of Singapore, Academic Year 2013/2014. 
  </li>
  <li>
    Faculty Teaching Excellence Award, NUS School of Computing, Academic Year 2013/2014.
  </li>
    <li>
    Annual Teaching Excellence Award, National University of Singapore, Academic Year 2012/2013. 
  </li>
  <li>
    Faculty Teaching Excellence Award, NUS School of Computing, Academic Year 2012/2013.
  </li>
</ul>



<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
